<h2>app componant</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" routerLink="home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="onAboutUs()">Aboutus</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="contact">contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " (click)="onSolution()">solution</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " (click)="onEmpClick()">Employee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="parent">DataComponant</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="parent2">DataCompo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="CompoA">CompoA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="compoB">CompoB</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="xcompo">X_Compo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="ycompo">Y_Compo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="compoP">compo_P</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="compoQ">compo_Q</a>
  </li>

  <li class="nav-item">
    <a class="nav-link " routerLink="corebanking">Corebanking</a>
  </li>

  <li class="nav-item">
    <a class="nav-link " routerLink="loan">Loan</a>
  </li>

  <li class="nav-item">
    <a class="nav-link " routerLink="loanTwo">LoanTwo</a>
  </li>

</ul>





<div class="container">

  <!-- <app-prac></app-prac> -->

  <!-- <app-parent></app-parent> -->



  <router-outlet></router-outlet>
</div>